@using ASP.Server.Model
@{
    ViewData["Title"] = "Home Page";
}
<style>
    table {
        border-spacing: 0px;
        border-collapse: collapse;
        width: 100%;
        max-width: 100%;
        margin-bottom: 15px;
        background-color: transparent; /* Change the background-color of table here */
        text-align: center; /* Change the text-alignment of table here */
    }

    th {
        font-weight: bold;
        border: 1px solid #cccccc; /* Change the border-color of heading here */
        padding: 8px;
    }

    td {
        border: 1px solid #cccccc; /* Change the border-color of cells here */
        padding: 8px;
    }

    thead {
        color: green;
    }

    tbody {
        color: blue;
    }

    tfoot {
        color: red;
    }
</style>
<div class="listeBooks">
    <h1>Liste des livres:</h1>
    @{
        int limit = ViewBag.Limit;
    }
    <select onchange="ChangeLimit(event)" asp-for="@limit">
        <option value="5" label="5"></option>
        <option value="10" label="10"></option>
        <option value="15" label="15"></option>
        <option value="20" label="20"></option>
        <option value="50" label="50"></option>
        <option value="100" label="100"></option>
    </select>
    <div style="display: flex;justify-content: flex-end;">
    @if (@ViewBag.NbBook > @ViewBag.limit)
    {

        <p>Page : </p>
        int nbPage = (int)Math.Ceiling((float)ViewBag.NbBook / ViewBag.limit);
        for (int i = 0; i < nbPage; i++)
        {
                <a href="#" data-offset="@(ViewBag.limit * i)" style="margin-left: 5px;margin-right: 5px;" onClick="ChangeOffset(event)">@(i + 1)</a>
        }
    }
    </div>
    <!-- la liste des genres est dans la variable Model qui est typé en ligne 3, elle correspond à la variable xxx dans View(xxx) du controller -->
    <table>
        <thead>
            <tr>
                <th>Titre</th>
                <th>Auteur</th>
                <th>Prix</th>
                <th>Genres</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in Model)
            {
                <tr>
                        <td>
                            <a href="/Book/show?id=@book.Id">
                                @book.Title
                            </a>
                        </td>
                        <td>
                        <a href="/Book/showauteur?author=@book.Author">
                            @book.Author
                        </a>
                    </td>
                        <td>@book.Price €</td>
                    <td>
                        
                            @foreach (Genre genre in book.Genres)
                            {
                            <a href="#" data-genre="@genre.Id" onClick="ChangeGenre(event)">
                                    <span>@genre.Name</span>
                                </a>
                            }
                       
                        </td>
                        <td>
                            <form asp-controller="Book" asp-action="Modify">
                                <button type="submit" value="@book.Id" name="id">Modifier</button>
                            </form>
                            <form asp-controller="Book" asp-action="Delete">
                                <input type="hidden" value="@Context.Request.Query["genre"]" name="genre" />
                                <button type="submit" value="@book.Id" name="id">Supprimer</button>
                            </form>
                        </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script>
    @{
        var isGenre = Context.Request.Query.ContainsKey("genre");
        var isOffset = Context.Request.Query.ContainsKey("offset");
        var isLimit = Context.Request.Query.ContainsKey("limit");
        String genreString = isGenre ? Context.Request.Query["genre"] : "";
        String offsetString = isOffset ? Context.Request.Query["offset"] : "";
        String limitString = isLimit ? Context.Request.Query["limit"] : "";
    }
    function ChangeLimit(event){
        var limit = event.target.value;
        window.location.href = "/Book/List?genre=@genreString&offset=@offsetString&limit=" + limit;
    }

    function ChangeGenre(event){
        event.preventDefault();
        var genre = event.currentTarget.getAttribute("data-genre");
        window.location.href = "/Book/List?genre="+ genre +"&offset=@offsetString&limit=@limitString";
    }

    function ChangeOffset(event){
        event.preventDefault();
        var offset = event.currentTarget.getAttribute("data-offset");
        window.location.href = "/Book/List?genre=@genreString&offset="+ offset +"&limit=@limitString";
    }
</script>