@using ASP.Server.Model
@model Book
@{
    ViewData["Title"] = "Home Page";
}
<div class="listeBooks">
    <h1>@Model.Title</h1>
    <h2>@Model.Author</h2>
    @foreach(Genre genre in Model.Genres)
        {
            <p>@genre.Name</p>
        }
    <h3>@Model.Price €</h3>
    <p>@Model.Content</p>
    <iframe src="@Model.Content"></iframe>
    
    
</div>

